<div id="overlay" class="overlay">
  <div id="loading-img"></div>
</div>

<div id="errorAlert" class="alert alert-danger div-hidden" role="alert"></div>
  <div class="flex-parent">
    <!-- Sign Up Form Starts Here -->	

    <form [formGroup]="ticketForm" (ngSubmit)="onFormSubmit()" >

      <h2 class="main-header"><i class="material-icons" style="font-weight: 700; font-size: 2.8rem;">person_add</i> Passenger Preference</h2>

      <!-- <h1 style="margin-top: 5rem;font-size: 3em;color: black; margin-left:2rem">Enter Booking Details</h1> -->
      
      <mat-form-field style="display: none;">
        <input formControlName="pnr" matTooltip="Enter Train name" matInput placeholder="pnr"
          autocomplete="off">
      </mat-form-field>
      <table>
        <tr>
          <mat-form-field style="display: none;">
            <input formControlName="username" matTooltip="" matInput placeholder="username"
              autocomplete="off">
          </mat-form-field>

          <mat-form-field style="display: none;">
            <input formControlName="trainNo" matTooltip="" matInput placeholder="trainNo"
              autocomplete="off">
          </mat-form-field>
          <td>
            <mat-form-field style="margin-left:12em;" >
              <input formControlName="trainName" matTooltip="Enter Train name" matInput placeholder="TrainName"
                autocomplete="off" [readonly]="true">
            </mat-form-field>
           
          </td>
          <td>
            <mat-form-field  style="margin-left:2em;">
              <input formControlName="source" matTooltip="Enter Source name" matInput placeholder="Source"
                autocomplete="off" [readonly]="true">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field style="display: none;">
              <input formControlName="ticketprice" matTooltip="Enter price" matInput placeholder="Price" name="ticketprice"
                autocomplete="off" >
            </mat-form-field>
          </td>
          <td>
            <mat-form-field   style="margin-left:2em;">
              <input formControlName="destination" matTooltip="Enter Destination name" matInput
                placeholder="Destination" autocomplete="off" [readonly]="true">
            </mat-form-field>
           
          </td>
        </tr>
      </table>
      <table >
        <tr>
          <td>
            <mat-form-field style="margin-left:8em;">
              <input formControlName="name" matTooltip="Enter passenger Name" matInput placeholder="Name"
                autocomplete="off">
            </mat-form-field>
          
          </td>
          <td>
            <mat-form-field class="demo-full-width" style="margin-left:2em;">
              <input formControlName="age" matTooltip="Enter passenger age" matInput placeholder="Age"
                autocomplete="off">
            </mat-form-field>
          
          </td>
          <td>
            <mat-form-field class="demo-full-width" style="margin-left:2em;">
              <input formControlName="gender" matTooltip="Enter gender" matInput placeholder="Gender"
                autocomplete="off">
            </mat-form-field>
          
          </td>
          <td>
            <mat-form-field class="demo-full-width" style="margin-left:2em;">
              <input formControlName="travelDate" matTooltip="Enter Travel Date" matInput placeholder="Travel Date"
                autocomplete="off">
            </mat-form-field>
          </td>
        </tr>
      </table>
    

      <button type="submit" mat-raised-button color="accent" matTooltip="Submit" [disabled]="!ticketForm.valid"
        style="font-size: 2em;    margin-right: 8%">Submit</button>

       <button type="reset" mat-raised-button color="accent" matTooltip="Reset"
        style="    font-size: 2em;     margin-right: 2%;" (click)="resetForm()">Reset</button>

      <p style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">
        {{massage}}
      </p>
    </form>
</div>




