<div class="hamburger-parent">
    <div class="welcome-note">
    <!-- <img src="../../assets/Sarthi_logo.png" width="auto" height="100" style="margin-bottom: 18px; margin-top: 8px;" class="d-inline-block align-top" alt="Sarthi-logo"> -->
    <p style="font-size: 1.4em; font-weight: 100;"> Welcome to Sarthi </p>
    </div>
    <div class="navigation">
      <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link"><i class="material-icons">directions_railway</i> Trains</a>
            <ul>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/addTrain" routerLinkActive="active">Add Trains</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/train" routerLinkActive="active">Update Trains</a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link"><i class="material-icons">description</i> Ticket Details</a>
            <ul>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/bookingVerification" routerLinkActive="active"> View Tickets</a>
              </li>
              
            </ul>
          </li>
         
          <li class="nav-item">
            <a class="nav-link"><i class="material-icons">face</i> Passengers</a>
            <ul>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/passengerList" routerLinkActive="active">Passengers List </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin" routerLinkActive="active"> Booking Verification</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/user/seasonal" routerLinkActive="active"> Seasonal Offers</a>
              </li> -->
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/notifications" routerLinkActive="active"><i class="material-icons">notifications</i> Notifications</a>
          </li>
      </ul>
    </div>
    
    
    
    
    
    </div>