<div class="request-body">    
      <div id="requ" class="all-requests">
    <div class="header"><h1 class="display-3"><i class="material-icons" style="font-size: 3.6rem; font-weight: 700;">people</i>ADMIN Profile</h1></div>
        <ul class="team">
          <li> 
            <div class="card" style="width: 50rem;">
            <!-- <img class="card-img-top" src="../../../assets/card-background.jpg" alt="Card image cap"> -->
              <div class="card-body">
                <h4 class="card-title"><img src="../../../assets/avatar.jpg" width="80" height="80" class="d-inline-block align-top img-circle" alt="profile-logo"> {{firstName}} {{lastName}} </h4>
                 <p class="card-text"><strong>{{email}}</strong></p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong class="intext">Bio Info: </strong>
                  <br><br>
                  <p><em>Date Of Birth: </em>{{dob}}</p>
                  <p><em>Address: </em>{{addressLine}}</p>
                  <p><em>City: </em>{{city}}</p>
                  <p><em>State/County: </em>{{state}}</p>
                  <p><em>Country: </em>{{country}}</p>
                  <p><em>PIN/ZIP: </em>{{pin}}</p>
                  <p><em>Phone Number: </em> {{phonenumber}}</p>
                </li>
                <li class="list-group-item"><strong class="intext">Pro Info: </strong>
                  <br><br>
                  <p><em>Aadhaar: </em>{{aadhaar}}</p>
                  <p><em>PAN: </em>{{pan}}</p>
                  <!-- <p><em>Occupation: </em>{{occupation}}</p> -->
                </li>
              </ul>
            </div>
    
            <br><br>
    
          </li>
        </ul>
  
      </div>
    </div>